@import "variables";
@import "mixins";

.ambassador {
	@include responsive4by1();

	&__image {
		display: block;
		width: 100%;
	}

	&__name {
		@include center(false);

		font-size: 16px;
		@include break(md) {
			font-size: 14px;
		}
		font-weight: $title-weight;
		margin: 10px 0;
	}
}