@import "variables";

.button {
	border: 0;
	padding: 8px 10px;
	font-size: 12px;
	font-weight: 800;

	background: $primary;
	color: $light;

	cursor: pointer;

	&:focus {
		outline: unset;
	}

	&--light {
		background: $light;
		color: $primary;
	}

	&--primary {
		background: $primary;
		color: $light;
	}

	&--dark {
		background: $dark;
		color: $light;
	}
}