@import "variables";
@import "mixins";

.category {
	width: 120px;

	@include undecorate();

	span {

		display: block;
		text-align: center;

		font-size: 20px;
		font-weight: 800;

		padding-bottom: 20px;
	}
	img {
		display: block;
		margin: 0 auto;
		height: 90px;
	}
}