@import "variables";
@import "mixins";

$fg-height: 30%;
$fg-v-offset: 20%;
$fg-h-offset: 10%;

.composition-image {
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;

	&--right &__foreground {
		right: $fg-h-offset;
	}

	&--left &__foreground {
		left: $fg-h-offset;
	}

	&__foreground {
		position: absolute;

		height: $fg-height;
		top: $fg-v-offset;
	}

	&__background {
		min-width: 100%;
	}
}

.composition-image--right.composition-image--responsive .composition-image__foreground {
	@include break(sm) {
		right: calc(50vw - #{$small} / 2 + #{$fg-h-offset});
	}
	@include break(md) {
		right: calc(50vw - #{$medium} / 2 + #{$fg-h-offset});
	}
	@include break(lg) {
		right: calc(50vw - #{$large} / 2 + #{$fg-h-offset});
	}
}


.composition-image--left.composition-image--responsive .composition-image__foreground {
	@include break(sm) {
		left: calc(50vw - #{$small} / 2 + #{$fg-h-offset});
	}
	@include break(md) {
		left: calc(50vw - #{$medium} / 2 + #{$fg-h-offset});
	}
	@include break(lg) {
		left: calc(50vw - #{$large} / 2 + #{$fg-h-offset});
	}
}