@import "variables";
@import "mixins";

.event-preview {
	$title-margin: .4em;

	position: relative;

	color: $light;

	padding: $vert-margin $side-margin;
	@include break(sm) {
		padding: $vert-margin calc(50vw - #{$small}/2 + #{$side-margin});
	}
	@include break(md) {
		padding: $vert-margin calc(50vw - #{$medium}/2 + #{$side-margin});
	}
	@include break(lg) {
		padding: $vert-margin calc(50vw - #{$large}/2 + #{$side-margin});
	}

	&__surtitle {
		font-size: 14px;
		font-weight: $title-weight;
		margin: $title-margin 0;
	}
	&__title {
		font-size: 25px;
		font-weight: $title-weight;
		margin: $title-margin 0 25px;
	}
	&__ingress {
		font-size: 14px;
		line-height: 24px;
		color: $lightgrey;
		width: 350px;
		display: block;
		padding-bottom: $vert-margin;
	}
	&__button {
		display: block;
		margin-bottom: 120px;
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		width: 100%;

		background: url('../images/9vwFt1.jpg') center;
		background-size: cover;
		filter: brightness(.5);
	}
}
