@import "variables";
@import "mixins";

.footer {
	background: $primary;
	color: $light;

	padding: $vert-margin $side-margin;
	@include break(sm) {
		padding: $vert-margin calc(50vw - #{$small}/2 + #{$side-margin});
	}
	@include break(md) {
		padding: $vert-margin calc(50vw - #{$medium}/2 + #{$side-margin});
	}
	@include break(lg) {
		padding: $vert-margin calc(50vw - #{$large}/2 + #{$side-margin});
	}

	&__ambassadors {
		padding-bottom: 40px;

		h2 {
			font-size: $title-size;
			font-weight: $title-weight;

			margin: 0 0 $vert-margin;
		}

		> div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		padding: 30px 0;

		.navigation {
			&__group {
				@include responsive4by1();
			}

			&__link {
				@include undecorate();

				display: block;
				font-size: 16px;
				line-height: 20px;
				font-weight: $title-weight;

				&--sub {
					font-weight: 400;
				}
			}
		}
	}

	&__contact {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		padding: 30px 0;

		.contact {
			&__group {
				@include responsive4by1();
			}

			&__title {
				font-weight: $title-weight;
				font-size: 18px;
				margin-bottom: 25px;
			}

			&__text {
				font-size: 14px;
				line-height: 22px;
			}

			&__social {
				display: flex;
				align-items: center;

				padding-bottom: 10px;

				img {
					height: 25px;
				}

				span {
					padding-left: 15px;
					font-size: 14px;
				}
			}
		}
	}
}
