@import 'variables';
@import 'mixins';

.header {
	padding: $vert-margin $side-margin;
	@include break(sm) {
		padding: $vert-margin calc(50vw - #{$small}/2 + #{$side-margin});
	}
	@include break(md) {
		padding: $vert-margin calc(50vw - #{$medium}/2 + #{$side-margin});
	}
	@include break(lg) {
		padding: $vert-margin calc(50vw - #{$large}/2 + #{$side-margin});
	}
	background: $light;

	display: flex;
	align-items: center;

	@include user-select();

	&__logo {
		margin-right: auto;

		img {
			height: 50px;
			display: block;
		}
	}

	&__language, &__search, &__menu {
		margin-left: 20px;

		img {
			height: 25px;
			cursor: pointer;
		}
	}
}
