@import "header";
@import "button";
@import "composition-image";
@import "main";
@import "slideshow";
@import "category";
@import "product-preview";
@import "product";
@import "event-preview";
@import "footer";
@import "ambassador";

html, body, article[role='application'] {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
