@import "variables";
@import "mixins";

.main {
	&__slideshow {
		height: 550px;
	}

	&__categories {
		background: $dark;
		color: $light;

		padding: $vert-margin $side-margin;
		@include break(sm) {
			padding: $vert-margin calc(50vw - #{$small}/2 + #{$side-margin});
		}
		@include break(md) {
			padding: $vert-margin calc(50vw - #{$medium}/2 + #{$side-margin});
		}
		@include break(lg) {
			padding: $vert-margin calc(50vw - #{$large}/2 + #{$side-margin});
		}
		display: flex;
		justify-content: space-around;
	}

	&__product-preview {
		display: flex;
	}

	&__products {
		background: $light;
		padding: $vert-margin $side-margin;
		@include break(sm) {
			padding: $vert-margin calc(50vw - #{$small}/2 + #{$side-margin});
		}
		@include break(md) {
			padding: $vert-margin calc(50vw - #{$medium}/2 + #{$side-margin});
		}
		@include break(lg) {
			padding: $vert-margin calc(50vw - #{$large}/2 + #{$side-margin});
		}

		h2 {
			color: $primary;

			font-size: $title-size;
			font-weight: $title-weight;

			margin: 0 0 $vert-margin;
		}

		> div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}
