@import "variables";

@mixin user-select() {
	user-select: none;
	-webkit-user-select: none;
}

@mixin break($media) {
	@if ($media == xs) {
		@media only screen and (max-width: $small) {
			@content;
		}
	} @else if ($media == sm) {
		@media only screen and (min-width: $small + 1) and (max-width: $medium) {
			@content;
		}
	} @else if ($media == "<= sm") {
		@media only screen and (max-width: $medium) {
			@content;
		}
	} @else if ($media == md) {
		@media only screen and (min-width: $medium + 1) and (max-width: $large - 1) {
			@content;
		}
	} @else if ($media == lg) {
		@media only screen and (min-width: $large) {
			@content;
		}
	}
}

@mixin responsive4by1() {
	width: 240px;

	@include break(md) {
		width: 170px;
	}

	@include break(lg) {
		width: 220px;
	}

	@include break("<= sm") {
		&:nth-last-child(1n+3) {
			margin-bottom: 40px;
		}
	}
}

@mixin center($inline) {
	@if ($inline) {
		display: inline-flex;
	} @else {
		display: flex;
	}

	justify-content: center;
	align-items: center;
}

@mixin undecorate() {
	text-decoration: none;
	color: currentcolor;
}
