@import "variables";
@import "mixins";

.product-preview {
	$title-margin: 0;

	&__info {
		flex: 0 0 auto;
		width: 450px - $side-margin;

		background: $primary;
		padding: $vert-margin 0 $vert-margin $side-margin;
		@include break(sm) {
			padding: $vert-margin 0 $vert-margin calc(50vw - #{$small}/2 + #{$side-margin});
		}
		@include break(md) {
			padding: $vert-margin 0 $vert-margin calc(50vw - #{$medium}/2 + #{$side-margin});
		}
		@include break(lg) {
			padding: $vert-margin 0 $vert-margin calc(50vw - #{$large}/2 + #{$side-margin});
		}
	}
	&__image {
		max-height: 325px;
	}

	&__badges {
		display: flex;
		padding-bottom: $vert-margin;
	}
	&__badge {
		height: 60px;
		margin-right: 15px;
	}
	&__title {
		color: $light;
		font-size: $title-size;
		font-weight: $title-weight;
		margin: $title-margin;
	}
	&__subtitle {
		color: $accent;
		font-size: $title-size;
		font-weight: $title-weight;
		margin: $title-margin;
		padding-bottom: $vert-margin;
	}
	&__features {
		display: flex;

		padding-bottom: $vert-margin;
	}
	&__feature {
		padding-right: 15px;

		color: $light;
		font-size: 14px;
		font-weight: 700;

		span {
			padding-left: 10px;
		}
	}
}
