@import "variables";
@import "mixins";

.product {
	border: 2px solid $primary;

	@include responsive4by1();

	&--new {
		position: relative;

		&:after {
			position: absolute;
			content: url('../icons/ikon-nyhet-blå.svg');
			right: 10px;
			top: 10px;
			height: 50px;
			width: 50px;
		}
	}

	&__image {
		display: block;
		width: 100%;
	}

	&__title {
		background: $primary;
		color: $light;
		height: 45px;

		@include center(false);

		font-weight: $title-weight;
	}
}
