@import "variables";
@import "mixins";

.slideshow {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	overflow: hidden;

	&__paginator {
		align-self: flex-end;

		display: flex;

		&-item {
			box-sizing: border-box;

			display: block;

			height: 15px;
			width: 15px;
			margin-left: 20px;

			border: 2px solid $light;
			border-radius: 50%;

			background: $light;

			&:not(&--current) {
				cursor: pointer;
			}

			&--current {
				background: transparent;
			}
		}
	}

	&__previous, &__next {
		z-index: 1;
		height: 80px;
		width: 60px;
		cursor: pointer;
	}

	&__previous {
		background: url('../icons/ic_navigate_before_white_24px.svg') no-repeat center/40px;
	}

	&__next {
		background: url('../icons/ic_navigate_next_white_24px.svg') no-repeat center/40px;
	}
}

.slide {
	box-sizing: border-box;

	background-size: cover;
	background-position: center;

	position: absolute;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	display: flex;
	align-items: stretch;

	padding: $vert-margin $side-margin;
	@include break(sm) {
		padding: $vert-margin calc(50vw - #{$small} / 2 + #{$side-margin});
	}
	@include break(md) {
		padding: $vert-margin calc(50vw - #{$medium} / 2 + #{$side-margin});
	}
	@include break(lg) {
		padding: $vert-margin calc(50vw - #{$large} / 2 + #{$side-margin});
	}

	&__content {
		height: 100%;
		width: 100%;

		position: relative;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
	}

	&__title {
		font-size: $title-size;
		font-weight: $title-weight;
		color: $light;
	}

	&__button {
		margin-bottom: 50px;
	}
}