$light: #FFFFFF;
$lightgrey: #D1D1D1;
$accent: #87A4BE;
$primary: #10497D;
$dark: #08243E;

$side-margin: 80px;
$vert-margin: 30px;

$small: 768px;
$medium: 992px;
$large: 1200px;

$title-size: 25px;
$title-weight: 600;
